<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="backModal()">
          <ion-icon slot="start" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="ion-text-capitalize">Regresar</ion-title>
    </ion-toolbar>
  </ion-header>

  <form #formulario="ngForm">
    <ion-item>
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      <ion-input name="email" type="email" placeholder="Email" color="primary"
        pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" [(ngModel)]="email" [readonly]="bandCodigo"
        required></ion-input>
    </ion-item>
    <ion-button (click)="sendEmail()" expand="block" shape="round" *ngIf="!bandCodigo"
      [disabled]="formulario.invalid">
      Enviar
    </ion-button>
    <div *ngIf="bandCodigo">
      <ion-item>
        <ion-icon slot="start" name="key-outline"></ion-icon>
        <ion-input name="codigo" type="number" placeholder="Codigo" [(ngModel)]="codigo" required></ion-input>
      </ion-item>
      <ion-button (click)="sendCodigo()" expand="block" shape="round" *ngIf="bandCodigo"
        [disabled]="formulario.invalid">
        Enviar
      </ion-button>
    </div>
  </form>
</ion-content>