<ion-content [fullscreen]="true">
  <div class="top-section ion-padding">
    <div class="container_buttons">
      <ion-buttons class="custom_btnmenu" slot="start">
        <ion-button (click)="close()">
          <ion-icon class="custom_icon" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div class="seccion_logo">
        <img class="logo" src="/assets/img/logo_gbox.png" />
      </div>
    </div>
    <div class="container_title">
      <ion-title class="seccion_title">QR Pre-requisición</ion-title>
    </div>
  </div>
  <div class="middle-section ion-padding">
    <ion-card class="ion-no-margin">
      <ion-card-content>
        <ngx-qrcode [value]="qrFolio" [width]=500>
        </ngx-qrcode>
        <ion-grid>
          <ion-row>
            <ion-col>
              <p class="lbl_form">Folio Pre-requisición</p>
              <p class="text_info">{{ qrFolio }}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <p class="lbl_form">Fecha de Pre-requisición</p>
              <p class="text_info">{{ fecha }}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>