<ion-content [fullscreen]="true">
  <div class="top-section ion-padding">
    <div class="container_buttons">
      <ion-buttons class="custom_btnmenu" slot="start">
        <ion-button (click)="closeModal()">
          <ion-icon class="custom_icon" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div class="seccion_logo">
        <img class="logo" src="/assets/img/logo_gbox.png" />
      </div>
    </div>
    <div class="container_title">
      <ion-title class="seccion_title">QR Pre-requisición</ion-title>
    </div>
  </div>
  <div class="middle-section ion-padding">
    <ion-card class="ion-no-margin">
      <ion-card-content>
          <ion-grid>
            Hola
          </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
