<ion-content [fullscreen]="true">
  <!-- <ion-header class="ion-no-border"> -->
  <div class="top-section ion-padding">
    <div class="container_buttons">
      <ion-buttons class="custom_btnmenu" slot="start">
        <!-- <ion-back-button text="" defaultHref=""></ion-back-button> -->
        <a href="#" (click)="logout()" class="btn_logout">
          <ion-icon name="log-out-outline"></ion-icon>
        </a>
      </ion-buttons>
      <div class="seccion_logo">
        <img class="logo" src="/assets/img/logo_gbox.png" />
      </div>
    </div>
    <div class="container_title">
      <ion-title class="seccion_title">Pre-requisiciones</ion-title>
    </div>
  </div>
  <!-- </ion-header> -->
  <div class="middle-section ion-padding">
    <div class="container_add">
      <ion-fab horizontal="end" slot="fixed">
        <ion-fab-button class="btn_fab-custom" (click)="add()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>
    <div class="container_card"
      *ngFor="let pre_requisicion of pre_requisiciones | paginate: { itemsPerPage: 5, currentPage: page }">
      <div class="seccion_icon">
        <ion-icon style="background-color: #ffc40c;" name="timer-outline"
          *ngIf="pre_requisicion.id_estatus_pre_requisicion == 1"></ion-icon>
        <ion-icon style="background-color: #152a7e;" name="thumbs-up-outline"
          *ngIf="pre_requisicion.id_estatus_pre_requisicion == 2"></ion-icon>
        <ion-icon style="background-color: #700b0b;" name="close-outline"
          *ngIf="pre_requisicion.id_estatus_pre_requisicion == 3"></ion-icon>
        <ion-icon style="background-color: #206760;" name="checkmark-outline"
          *ngIf="pre_requisicion.id_estatus_pre_requisicion == 4"></ion-icon>
        <ion-icon style="background-color: #cc680a;" name="stop-circle-outline"
          *ngIf="pre_requisicion.id_estatus_pre_requisicion == 5"></ion-icon>
      </div>
      <ion-card class="ion-text-center" (click)="view(pre_requisicion)">
        <ion-card-header>
          <ion-card-title>
            {{ pre_requisicion.usuario_solicitante.s_nombre }}
            {{ pre_requisicion.usuario_solicitante.s_paterno }}
            {{ pre_requisicion.usuario_solicitante.s_materno }}
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="4">
                {{ pre_requisicion.s_folio }}
              </ion-col>
              <ion-col size="2">
                {{ pre_requisicion.d_fecha_creacion }}
              </ion-col>
              <ion-col size="6">
                <div style="background-color: #ffc40c;" class="status"
                  *ngIf="pre_requisicion.id_estatus_pre_requisicion == 1">
                  Pendiente
                </div>
                <!-- #419b39; -->
                <div style="background-color: #152a7e;" class="status"
                  *ngIf="pre_requisicion.id_estatus_pre_requisicion == 2">
                  Autorizado
                </div>
                <div style="background-color: #700b0b;" class="status"
                  *ngIf="pre_requisicion.id_estatus_pre_requisicion == 3">
                  Cancelado
                </div>
                <div style="background-color: #206760;" class="status"
                  *ngIf="pre_requisicion.id_estatus_pre_requisicion == 4">
                  Finalizado
                </div>
                <div style="background-color: #cc680a;" class="status"
                  *ngIf="pre_requisicion.id_estatus_pre_requisicion == 5">
                  En espera
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>
    <pagination-controls (pageChange)="page = $event" previousLabel="Ant." nextLabel="Sig." maxSize="3" autoHide="true"
      responsive="true"></pagination-controls>
  </div>
</ion-content>