<ion-content [fullscreen]="true">
  <div class="top-section ion-padding">
    <div class="container_buttons">
      <ion-buttons class="custom_btnmenu" slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <div class="seccion_logo">
        <img class="logo" src="/assets/img/logo_gbox.png" />
      </div>
    </div>
    <div class="container_title">
      <ion-title class="seccion_title">Salidas</ion-title>
    </div>
  </div>
  <div class="middle-section ion-padding">
    <ion-card class="ion-no-margin">
      <ion-card-content>
        <div class="container_add">
          <ion-button class="btn_scanner" (click)="scanBarcode()">
            Escanear código
            <ion-icon name="qr-code-outline"></ion-icon>
          </ion-button>
        </div>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label position="stacked">Ingresa Folio de Pre-requisición</ion-label>
                <ion-input style="text-transform: uppercase;" class="uppercase" type="text" name="textQR"
                  [(ngModel)]="textQR" (ngModelChange)="checkRealTime($event)"></ion-input>
                <div class="container_buscar" slot="end" align-self-center>
                  <ion-icon name="search-outline"></ion-icon>
                  <!-- (click)="buscarPrerequisicion(textQR)" -->
                </div>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <div class="radio-list">
                <label class="radio mt-4" for="radio__toggle1">
                  <input class="radio__toggle" id="radio__toggle1" type="checkbox" [(ngModel)]="isCheckSalida" (ngModelChange)="onChangeCheckSalida($event)">
                  <span class="radio__span">
                    {{ isCheckSalida ? 'Con Folio de Pre-requisición' : 'Sin Folio de Pre-requisición' }}
                  </span>
                </label>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>