ion-content {
    --background: url("/assets/img/login_movil.png") 60% 0/120% 115% no-repeat fixed;
    
    form {
        padding: 10%;

        ion-item {
            --background: transparent;
            --border-color: var(--ion-color-primary);
            margin-bottom: 10%;
        }
    }

    ion-button {
        --background: white !important;
        color: rgb(98, 73, 122);
        width: 65%;
        height: 50px;
        margin: auto;
        font-weight: bold;
    }
}

.lbl-title {
    margin-top: 50%;
    font-size: 200%;
    font-weight: bold;
    color: var(--ion-color-primary);
}

.btn-login {
    margin-top: -5%;
}

.btn-signup {
    margin-top: 5% !important;
    width: 40% !important;
}

.lbl-rspassword {
    margin-top: 5%;
    font-size: 70%;
}

.lbl-newuser {
    margin-top: 20%;
    font-size: 70%;
}
