ion-content {
    --background: rgb(255, 255, 255);
    background: rgb(255, 255, 255);
}

.top-section {
    max-height: 35% !important;
    --max-height: 35% !important;
    height: 32% !important;
    --height: 32% !important;
    --background-image: url("/assets/img/splash_movil.png");
    background-image: url("/assets/img/splash_movil.png");
    background-size: cover;
    padding-bottom: 30px;
    background-repeat: no-repeat;
    position: relative;

    .container_buttons {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 15px;

        .custom_btnmenu {
            color: #684e7f;

            .custom_icon {
                font-size: 24px;
            }
        }
        .seccion_logo {
            display: flex;
            left: 0;
            bottom: 0;

            .logo {
                height: 52px !important;
                --height: 52px !important;
                opacity: 0.6;
            }
        }
    }

    .container_title {
        display: flex;
        justify-content: center;
        padding-top: 100px;

        .seccion_title {
            position: absolute;
            font-size: 24px;
            color: #fff;
        }
    }
}

.middle-section {
    display: flex;
    flex-direction: column;

    ion-card {
        --background: #fff;
        --color: rgb(0, 0, 0);
        border-radius: 10px;
        border: 2px solid #206760;
        width: auto;
        height: 190px;

        .container_add {
            display: flex;
            justify-content: flex-end;

            .btn_scanner {
                --background: #684e7f;
                text-transform: none;
                font-size: 12px;
                margin-bottom: 12px;
            }
        }

        ion-grid {
            margin-top: 18px;

            ion-col {
                padding-bottom: 14px;

                ion-item {
                    --background: rgb(255, 255, 255);
                    color: #4b4b4b;
                    --highlight-color-focused: none;

                    ion-label {
                        font-size: 17px;
                        font-style: oblique;
                        margin-bottom: 2px !important;
                        display: flex;
                        justify-content: flex-start;
                    }

                    ion-input {
                        font-size: 16px;
                        font-weight: 600;
                        text-align: center;
                    }

                    .button-native {
                        padding-inline-start: 0px;
                        padding-inline-end: 0px;
                    }

                    .container_buscar {
                        margin-top: 25px;
                        --background: transparent;
                        --box-shadow: none;
                        padding: 0;

                        ion-icon {
                            color: #684e7f;
                            font-size: 28px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }

    .card-content-md {
        padding-inline-start: 8px;
        padding-inline-end: 8px;
    }

    ion-button[slot="end"] {
        margin-inline-start: 2px;
    }
}

.viewProducto-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .spaceEdit {
        margin-top: 60px;
    }

    .primary-card {
        width: 80% !important;
        margin: 0 !important;
        border-radius: 10px;
        border: 2px solid #cccccc;
        z-index: 99;

        ion-img {
            width: 100% !important;
            height: auto !important;
        }
    }

    .second-card {
        margin: -100px 0px 10px 0px !important;
        padding-top: 90px;
        border-radius: 10px;
        border: 2px solid #cccccc;
        --background: #ad8ec7;

        ion-label {
            color: #fff;
        }

        .lbl_form {
            font-size: 12px;
            font-weight: 600;
        }

        .lbl_info {
            font-size: 14px;
            font-weight: 700;
            text-align: center;
            display: flex;
            justify-content: center;
        }

        ion-input {
            --background: #cccccc;
            border-radius: 10px;
            text-align: center;
            color: #fff;
            font-weight: 700;
            font-size: 16px;
        }

        .container_add .btn_newArt {
            --background: #684e7f;
            text-transform: none;
            font-size: 16px;
            margin-top: 26px;
        }

        /* .card-content-md {
            padding-inline-start: 4px;
            padding-inline-end: 4px;
        } */
    }
}
