<ion-content [fullscreen]="true">
  <div class="top-section ion-padding">
    <div class="container_buttons">
      <ion-buttons class="custom_btnmenu" slot="start">
        <ion-button (click)="closeModal()">
          <ion-icon class="custom_icon" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <div class="seccion_logo">
        <img class="logo" src="/assets/img/logo_gbox.png" />
      </div>
    </div>
    <div class="container_title">
      <ion-title class="seccion_title">Articulo de Salida</ion-title>
    </div>
  </div>
  <div class="middle-section ion-padding">
    <ion-card class="ion-no-margin">
      <ion-card-content>
        <div class="container_add">
          <ion-button class="btn_scanner" (click)="scanBarcode()">
            Escanear código
            <ion-icon name="qr-code-outline"></ion-icon>
          </ion-button>
        </div>
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-item>
                <ion-label position="stacked">Código de Artículo</ion-label>
                <ion-input style="text-transform: uppercase;" type="text" name="textQR" [(ngModel)]="textQR"
                  (ngModelChange)="checkRealTime($event)"></ion-input>
                <div class="container_buscar" slot="end" align-self-center>
                  <ion-icon name="search-outline"></ion-icon>
                </div>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
  <!-- Seccion Artículos Salida -->
  <div class="viewProducto-section ion-padding" *ngIf="activated == true">
    <ion-card class="primary-card ion-no-margin">
      <ion-card-content>
        <div class="center">
          <ion-img src="{{s_foto}}" class="ion-align-self-end"></ion-img>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card class="second-card ion-no-margin">
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="5">
              <ion-label class="lbl_form">ARTÍCULO:</ion-label>
            </ion-col>
            <ion-col size="7">
              <ion-label class="lbl_info">{{s_producto}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5">
              <ion-label class="lbl_form">CÓDIGO:</ion-label>
            </ion-col>
            <ion-col size="7">
              <ion-label class="lbl_info">{{s_codigo_producto}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5">
              <ion-label class="lbl_form">UNIDAD:</ion-label>
            </ion-col>
            <ion-col size="7">
              <ion-label class="lbl_info">{{s_unidad_medida}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5">
              <ion-label class="lbl_form">STOCK INICIAL:</ion-label>
            </ion-col>
            <ion-col size="7">
              <ion-label class="lbl_info">{{n_cantidad_producto_empresa}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5">
              <ion-label class="lbl_form">STOCK FINAL:</ion-label>
            </ion-col>
            <ion-col size="7">
              <ion-label class="lbl_info">{{n_stock_final}}</ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="5">
              <ion-label class="lbl_form">UNIDADES DE SALIDA:</ion-label>
            </ion-col>
            <ion-col size="7">
              <ion-input min='1' type="number" name="n_cantidad_salida" [(ngModel)]="n_cantidad_salida"
                (ngModelChange)="checkNumber($event)"></ion-input>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="container_add">
          <ion-button class="btn_newArt" (click)="save()">
            Confirmar
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>