/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

ion-item {
    --highlight-color-valid: var(--ion-color-primary);
    --highlight-color-invalid: white;
}

.center {
    display: block;
    text-align: center;
}

.modal-wrapper, .inner-scroll {
  background: transparent !important;
}



/* ---------------------------------------------- ION-SELECT --------------------------------------------------------- */
ion-alert {
  //background color
  .alert-wrapper.sc-ion-alert-md {
    --background: #fff;
    color: #262626;
  }

  // Header Text
  .alert-title.sc-ion-alert-md {
    font-size: 18px;
    font-weight: 600;
    color: #206760;
    text-align: center;
  }

  // wrap the text
  .alert-radio-label.sc-ion-alert-md {
    color: #262626;
    font-size: 16px;
    font-weight: 500;
  }

  // checkbox border color
  [aria-checked="true"].sc-ion-alert-md .alert-radio-icon.sc-ion-alert-md {
    border-color: #684e7f;
  }

  // checkbox or radio button color
  .alert-radio-inner.sc-ion-alert-md {
    background-color: #684e7f !important;
  }

  // Height of text
  .alert-tappable.sc-ion-alert-md {
    height: 36px !important;
  }

  // Checked text color
  [aria-checked="true"].sc-ion-alert-md .alert-radio-label.sc-ion-alert-md {
    color: #206760;
  }

  // Button color
  .alert-button-inner.sc-ion-alert-md {
    color: #262626;
    font-weight: 600;
    font-size: 15px;
  }
}
/* ------------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------- NGX-PAGINATION --------------------------------------------------------- */
.ngx-pagination {
  margin-bottom: 1rem !important;
  line-height: 20px !important;
  font-size: 12px !important;
  padding-inline-start: 0px;
  display: flex;
  justify-content: center;
}

.ngx-pagination li {
  display: inline-block !important;
}

.ngx-pagination a,
.ngx-pagination button {
  color: #ffffff !important;
  display: block !important;
  background-color: #206760 !important;
  padding: 0.5rem 1rem !important;
  border-radius: 9% !important;
}

.ngx-pagination a:hover,
.ngx-pagination button:hover {
  background: #684e7f !important;
}

.ngx-pagination .current {
  background: #684e7f !important;
  color: #fefefe !important;
  cursor: default !important;
  padding: 0.5rem 1rem !important;
  border-radius: 9% !important;
}

.ngx-pagination .disabled {
  color: #206760 !important;
  cursor: default !important;
}

.ngx-pagination .disabled:hover {
  background: transparent !important;
}

.ngx-pagination a,
.ngx-pagination button {
  cursor: pointer !important;
}

.ngx-pagination .pagination-previous a::before,
.ngx-pagination .pagination-previous.disabled::before {
  display: inline-block !important;
  margin-right: 0rem !important;
}

.ngx-pagination .pagination-next a::after,
.ngx-pagination .pagination-next.disabled::after {
  display: inline-block !important;
  margin-left: 0rem !important;
}

.ngx-pagination .small-screen {
  display: none !important;
}
/* ------------------------------------------------------------------------------------------------------- */
