<ion-content [fullscreen]="true">
  <div class="top-section ion-padding">
    <div class="container_buttons">
      <ion-buttons class="custom_btnmenu" slot="start">
        <ion-back-button text="" defaultHref="home-pre-requisiciones"></ion-back-button>
      </ion-buttons>
      <div class="seccion_logo">
        <img class="logo" src="/assets/img/logo_gbox.png" />
      </div>
    </div>
    <div class="container_title">
      <ion-title class="seccion_title">Nueva Pre-requisición</ion-title>
    </div>
  </div>
  <div class="middle-section ion-padding">
    <ion-title class="seccion_title">Datos Pre-requisición</ion-title>
    <ion-card class="ion-no-margin">
      <ion-card-content>
        <form>
          <ion-grid>
            <ion-row>
              <ion-col size="6">
                <ion-item lines="none">
                  <ion-label class="lbl_form" position="floating">Folio</ion-label>
                  <ion-input class="bg_primary" type="text"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="6">
                <ion-item lines="none">
                  <ion-label class="lbl_form" position="floating">Empresa</ion-label>
                  <ion-input class="bg_secondary" type="text"></ion-input>
                </ion-item>
              </ion-col>
              <!-- <ion-col size="4">
                <ion-item lines="none">   
                  <ion-label position="floating">Estatus</ion-label>
                  <ion-input type="text"></ion-input>
                </ion-item>
              </ion-col> -->
            </ion-row>
            <ion-row>
              <ion-col size="6">
                <ion-item lines="none">
                  <ion-label class="lbl_form" position="floating">Estatus</ion-label>
                  <ion-input class="bg_primary" type="text"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2" class="container_icon">
                <ion-icon name="person"></ion-icon>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-input placeholder="Persona que solicita" type="text" name="prueba" [(ngModel)]="prueba"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="2" class="container_icon">
                <ion-icon name="calendar-outline"></ion-icon>
              </ion-col>
              <ion-col>
                <ion-item>
                  <ion-datetime placeholder="Fecha de entrega" displayFormat="DD MM YY"></ion-datetime>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
  <!-- Seccion Artículos Requeridos -->
  <div class="articulos-section ion-padding">
    <ion-title class="seccion_title">Articulos Requeridos</ion-title>
    <ion-card class="ion-no-margin">
      <ion-card-content>
        <div class="container_add">
          <ion-button class="btn_newArt" (click)="add()">
            Añadir Nuevo
            <ion-icon name="add-circle-outline"></ion-icon>
          </ion-button>
        </div>
        <ion-card>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="3">
                  <ion-card style="height: 100%; width: auto;">
                    <ion-card-content>
                      <ion-img src="/assets/img/logo_gbox.png"></ion-img>
                    </ion-card-content>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-card-content>
    </ion-card>
    <div class="container_notas">
      <ion-item>
        <ion-label position="stacked">Notas</ion-label>
        <ion-input></ion-input>
      </ion-item>
    </div>
  </div>
</ion-content>