<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="backModal()">
          <ion-icon slot="start" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="ion-text-capitalize">Registro</ion-title>
    </ion-toolbar>
  </ion-header>

  <form #formulario="ngForm">
    <ion-item>
      <ion-input name="s_nombre" type="text" placeholder="Nombre" color="primary" [(ngModel)]="s_nombre" required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-input name="s_paterno" type="text" placeholder="Apellido Paterno" color="primary" [(ngModel)]="s_paterno"
        required></ion-input>
    </ion-item>
    <ion-item>
      <ion-input name="s_materno" type="text" placeholder="Apellido Materno" color="primary" [(ngModel)]="s_materno"
        required></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="person-outline"></ion-icon>
      <ion-input name="s_usuario" type="text" placeholder="Usuario" color="primary" [(ngModel)]="s_usuario" required>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      <ion-input name="email" type="email" placeholder="Email" color="primary"
        pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" [(ngModel)]="email" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="key-outline"></ion-icon>
      <ion-input name="password" type="password" placeholder="Contraseña" color="primary" [(ngModel)]="password"
        required></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="call-outline"></ion-icon>
      <ion-input name="s_telefono" type="tel" placeholder="Teléfono" color="primary" [(ngModel)]="s_telefono"
        required></ion-input>
    </ion-item>
    <ion-button (click)="signin()" expand="block" shape="round" [disabled]="formulario.invalid">
      Enviar
    </ion-button>
  </form>
</ion-content>